<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Clock</title>

<link rel='stylesheet' href='static/css/css2.css'>
<link rel="stylesheet" href="static/css/style.css">

</head>
<body>

<div class="clock">
<span class="clock__digit">0</span>
<span class="clock__digit">0</span>
<span class="clock__digit">:</span>
<span class="clock__digit">0</span>
<span class="clock__digit">0</span>
<span class="clock__digit">:</span>
<span class="clock__digit">0</span>
<span class="clock__digit">0</span>
</div>

<script src="static/js/script.js"></script>
</body>
</html>